
<section class="accueil">

<div class="navbar">
    <nav>
        
        <ul>

            <li><a href="/Accueil" style="float:left" class="logo">Ecole primaire </a>
            </li>
            <li><a href="/Enseignants" style="float:right">Gestion Enseignant</a></li>
            <li><a href="/Eleve" style="float:right" class="active">Gestion élève</a></li>
            <li><a href="/Cours" style="float:right" class="active">Gestion cours</a></li>
            

        </ul>

    </nav>
</div>





    <article>
        <div class="block" id="presentation">
            <div class="container">
                <h1>Ecole élémentaire</h1>
                <p>Arc En Ciel...</p>
                
            </div>

         
        </div>
        
    </article>
   
</section>

