<div class="form my-5 mx-2">
      
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5 px-7">
          <img src="img/EL7.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5">
         
          <h4> Gestion élèves</h4>
       <form [formGroup]="addCoursForm">

            <div class="form-row">
                <div class="col-lg-7">
                  <input type="nom" placeholder=" {{eleve.nom}}" class="form-control my-3 p-4">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <input type="prenom" placeholder="{{eleve.prenom}}" class="form-control my-3 p-4">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <input type="age" placeholder="{{eleve.age}}{{ans}}" class="form-control my-3 p-4">
                </div>
              </div>

            <div class="form-row">
                <div class="col-lg-7">
                  <input type="telephone"  placeholder="{{eleve.telephone}}" class="form-control my-3 p-4">
                </div>
              </div>

   

            <div class="form-row">
              <div class="col-lg-7">
                <input type="email" placeholder="{{eleve.email}}" class="form-control my-3 p-4">
              </div>

            </div>


            <div class="form-row">
              <div class="col-lg-7">
                <input type="Adresse" placeholder="{{eleve.adresse}}" class="form-control  my-3 p-4">
              </div>

            </div>


            <div class="form-row">
              <div class="col-lg-3">
              <button   type="button" class="btn1 mt-3 mb-5"(click)="addEleve(id.eleve)">Valider</button>   
              </div>
             
              <div class="form-row">
                <div class="col-lg-7">
                <button type="button" class="btn1 mt-3 mb-5"(click)="deleteEleve(id.eleve)">Supprimer</button>   
                </div>

              </form>

        </div>

      </div>

</div>


