<section class="eleve">

<div class="col-12 text-center mb-3">
    <h2>Les eleves</h2>
</div>
<span>
    <i class="fas fa-plus-circle fa-2x text-center" id="i-button-add" (click)="openAddEleve()"></i>
</span>
 <div class="row   my-5 pt-5">
   
            <div  *ngFor="let eleve of eleveList" class="card" style="width: 18rem; margin: 30px;">
           
                <img class="card-img-top" src="./../../../assets/img/el2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> {{eleve.nomEleve}}{{eleve.prenomEleve}}</h5>
                  <p class="card-text">Je m'appelle {{eleve.prenomEleve}}. J'ai  {{eleve.ageEleve}} et j'habite à {{eleve.adresseEleve}}</p>
                  
                  <a   class="btn btn-primary " (click)="openUpdateEleve(eleve)">Modifier</a>
                  &nbsp;
                  <a   class="btn btn-primary" (click)="openDeleteEleve(eleve)">Supprimer</a>
                
                </div>
              </div>
      
        
           
        
</div>
</section>