<div class="card">
    <div class="card-header">Fiche élève</div>
    <div class="card-body">
      <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label>Nom :</label>
              <input class="form-control" name="nom" formControlName="nom" />
            </div>
            <div class="form-group">
              <label>Prénom :</label>
              <input class="form-control" name="prenom" formControlName="prenom" />
            </div>
           
            <div class="form-group" *ngIf="form.controls.role.value === 'Eleve'">
              <label>Classe :</label>
              <select class="form-control" name="classe" formControlName="classe">
                <option *ngFor="let classe of classes" [ngValue]="classe">{{classe}}</option>
              </select>
            </div>
            <button *ngIf="mode == 'ADD'" [disabled]="form.invalid" class="btn btn-primary">Ajouter</button>
            <button *ngIf="mode == 'EDIT'" [disabled]="form.invalid" class="btn btn-primary">Modifier</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  