<div class="row   my-5 pt-5">
  <h2>Liste es élèves</h2> 
  <span>
    <i class="fas fa-plus-circle fa-2x" id="i-button-add" (click)="openAddEleve()"></i>
</span>
    <div *ngFor="let eleve of listEleve" class="card" style="width: 18rem; margin: 30px;">
        <img class="card-img-top" src="assets/img/el2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" for="nom">nom</h5>
          <p class="card-text" for="prenom">prénom</p>
          <p class="card-text" for="age">âge</p>
          <a routerLink="form-eleve/{{eleve.id}}" class="btn btn-primary"(click)="openUpdateEleve(eleve)">Modifier</a>
        </div>
      </div>

</div>
