<div class="row   my-5 pt-5">
    <h2>Liste des enseignants</h2> 
    <span>
      <i class="fas fa-plus-circle fa-2x" id="i-button-add" (click)="openAddEnseignant()"></i>
  </span>
      <div *ngFor="let enseignant of listEnseignant" class="card" style="width: 18rem; margin: 30px;">
          <img class="card-img-top" src="assets/img/Enseignant1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" for="nom">nom</h5>
            <p class="card-text" for="prenom">prénom</p>
            <p class="card-text" for="cours">cours</p>
            <p class="card-text" for="classe">classe</p>
            <a routerLink="form-enseignant/{{enseignant.id}}" class="btn btn-primary"(click)="openUpdateEnseignant(enseignant)">Modifier</a>
          </div>
        </div>
  
  </div> 