<div class="form my-5 mx-2">
      
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5 px-7">
          <img src="img/EL7.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5">
         
          <h4> Se connecter à mon compte</h4>
       

            <div class="form-row">
                <div class="col-lg-7">
                  <input type="nom" placeholder="nom" class="form-control my-3 p-4">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <input type="prenom" placeholder="prenom" class="form-control my-3 p-4">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <input type="age" placeholder="âge" class="form-control my-3 p-4">
                </div>
              </div>

            <div class="form-row">
                <div class="col-lg-7">
                  <input type="telephone"  placeholder="Téléphone" class="form-control my-3 p-4">
                </div>
              </div>

   

            <div class="form-row">
              <div class="col-lg-7">
                <input type="email" placeholder="Email" class="form-control my-3 p-4">
              </div>

            </div>


            <div class="form-row">
              <div class="col-lg-7">
                <input type="Adresse" placeholder="Adresse" class="form-control  my-3 p-4">
              </div>

            </div>


            <div class="form-row">
              <div class="col-lg-3">
              <button type="button" class="btn1 mt-3 mb-5">Valider</button>   
              </div>
             
              <div class="form-row">
                <div class="col-lg-7">
                <button type="button" class="btn1 mt-3 mb-5">Supprimer</button>   
                </div>

         

        </div>

      </div>

</div>


