<section>
    <article>
        <div class="block" id="presentation">
            <div class="container">
                <h1>L’école élémentaire</h1>
                <p>Arc En Ciel...</p>

            </div>


        </div>

    </article>

</section>

<section class="liste des classe" id="classeListe">
    <div class="row my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <h2>Les classes</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto text-center py-3" style="min-width:150px">
                    <a href="Classe.html" class="rounded btn btn-lg px-5 py-4 text-white" title="CP"
                        style="background-color:#89ae2a">
                        CP
                    </a>
                </div>

                <div class="col-auto text-center py-3" style="min-width:150px">
                    <a class="rounded btn btn-lg px-5 py-4 text-white" title="CE1" style="background-color:#1e7e65">
                        CE1
                    </a>
                </div>

                <div class="col-auto text-center py-3" style="min-width:150px">
                    <a class="rounded btn btn-lg px-5 py-4 text-white" title="CE2" style="background-color:#30a96b">
                        CE2
                    </a>
                </div>

                <div class="col-auto text-center py-3" style="min-width:150px">
                    <a class="rounded btn btn-lg px-5 py-4 text-white" title="CM1" style="background-color:#139ea4">
                        CM1
                    </a>
                </div>

                <div class="col-auto text-center py-3" style="min-width:150px">
                    <a class="rounded btn btn-lg px-5 py-4 text-white" title="CM2" style="background-color:#006185">
                        CM2
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>