body{
    background: rgb(219,226,226);
    padding-top: 100px;
  }
  h1{
    padding: 0 80px ;
    font-size: 5 rem;
    font-weight: 800;
  }
  .row{
    padding-top: 200;
    background: white;
    border-radius :30px;
    box-shadow: 20px 20px 22px grey;
  }
  .img-fluid{
  background-size: cover;
  height: 400px;
  }
  
  img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-LEFT-radius: 30px;
  
  }
  .btn1{
    border: none;
    outline:none;
    height:50px;
    width: 100px;
    background:linear-gradient(to top, rgb(0, 162, 255), rgb(0, 255, 255));
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn1:hover{
  background:linear-gradient(to top, rgb(12, 189, 243), rgb(0, 255, 119));
  border:1px solid;
  
  
  }
  .no-gutters {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 300px;
  }