<div>
    <div class="row modal-title" mat-dialog-title>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-left: 10px;margin-top: 10px;">{{titre}}
        </div>
        <div class="col-xs-push-right col-sm-push-right col-md-push-right col-lg-push-right close"
            (click)="closeModal()">X</div>
    </div>
  </div>
  <form [formGroup]="addEnseignantForm">
  <div class="form my-5 mx-2">
      
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5 px-7">
          <img src="img/pat.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5">
         
          <h4>Gestion enseignants</h4>
          <form>

            <div class="form-row">
                <div class="col-lg-7">
                  <label for="nom"> nom </label>
                  <input type="nom" class="form-control my-3 p-4" name="nom" formControlName="nom">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <label for="prenom"> prenom </label>
                  <input type="prenom" class="form-control my-3 p-4" name="prenom" formControlName="prenom">
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-7">
                  <label for="age"> age </label>
                  <input type="age" class="form-control my-3 p-4" name="age" formControlName="age">
                </div>
              </div>

            <div class="form-row">
                <div class="col-lg-7">
                  <label for="telephone"> telephone </label>
                  <input type="telephone" class="form-control my-3 p-4" name="telephone" formControlName="telephone">
                </div>
              </div>

   

            <div class="form-row">
              <div class="col-lg-7">
                <label for="email"> email </label>
                <input type="email" class="form-control my-3 p-4" name="email" formControlName="email">
              </div>

            </div>


            <div class="form-row">
              <div class="col-lg-7">
                <label for="adresse"> adresse </label>
                <input type="Adresse" class="form-control  my-3 p-4" name="adresse" formControlName="adresse">
              </div>

            </div>

            <div class="action">
              <div class="form-row">
                <div class="col-lg-3">
                <button *ngIf="editForm"  type="button" class="btn btn-validation mt-3 mb-5"(click)="addEnseignant()">Valider</button>   
                </div>
               
                <div class="form-row">
                  <div class="col-lg-7">
                    <button type="button" class="btn btn-annulation" (click)="closeModal()">Annuler</button>  
                  </div>
  
  
          </div>
        </div>
        </div>
  
  </div>
 </form>