body {
    color: #242c5e;
}
.bg-primary_light {
    background-color: #faecf4!important;
}

.row {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

